<div id="concept" class="box rounded_corners">
    <h1>Conceito</h1>
    <p>A Cristalli surgiu para projetar e realizar o seu evento de maneira única e personalizada. Nós nos empenhamos em cuidadosamente tratar de todos os aspectos de sua festa, dos grandes aos pequenos detalhes com muita elegância e bom gosto.</p>
    <p>Dentre nossas especialidades estão Aniversário Infantil, Chá de Bebê, Chá de Fralda, Chá de Cozinha, Chá de Lingerie, Chá Bar, Batizado, Festa de Apresentação do Bebê, Aniversário na Escolinha, Festa Temática</p>
    <p>Para a sua comodidade os serviços oferidos pela Cristalli são dividos em itens que poderão ser contratados individualmente. Veja mais detalhes na seção <a href="/modulos">Módulos</a></p>
</div>
