<div id="concept" class="content">
    <h1><img src="images/titles/conceito.png" width="148" height="19" alt="Conceito" title="Conceito"></h1>
    <div class="box transparent">
        <p>A Cristalli surgiu para projetar e realizar o seu evento de maneira única e personalizada. Nós nos empenhamos em cuidadosamente tratar de todos os aspectos de sua festa, dos grandes aos pequenos detalhes, com muita elegância e bom gosto.</p>
        <p>Dentre nossas especialidades estão: aniversário infantil e adulto, chá de bebê, chá de fralda, chá de cozinha, chá de lingerie, chá bar, batizado, festa de apresentação do bebê, aniversário na escolinha e festa temática.</p>
        <p>Para a sua comodidade os serviços oferecidos pela Cristalli são divididos em itens que poderão ser contratados individualmente. Veja mais detalhes na seção <a href="/modulos">Módulos</a>.</p>
    </div>
</div>
