<div id="contact">
     <h1>Contato</h1>
     <div id="contact_content" class="box rounded_corners">
     <p>
         Agende uma visita para qualquer tipo de esclarescimento:
     </p>
     <p class="general">
         Email: <a class="email" href="mailto:contato@cristallieventos.com.br">contato@cristallieventos.com.br</a>
         <br/>Facebook: <a class="url" rel="me" href="http://facebook.com/cristallieventos">http://www.facebook.com/cristallieventos</a>
         <br/>Telefones: <span class="tel">(11) 8932-3136</span> ou <span class="tel">(11) 9149-2131</span>
     </p>
     </div>
</div>