<div id="contact_confirmation" class="content">
    <h1><img src="images/titles/contato.png" width="139" height="17" alt="Contato" title="Contato"></h1>
    <div class="box transparent">
        <div class="success_message">
            <%= image_tag("/images/icons/verify.png", :size => "43x44", :alt => "OK", :alt => "OK") %><br />
            Sua mensagem foi enviada com sucesso,<br />
            entraremos em contato o mais breve possível. <br /><br />
            Obrigado!
        </div>
    </div>
</div>