<div id="contact" class="box rounded_corners">
     <h1>Contato</h1>
     <p>Você pode entrar em contato pelo e-mail <a href="mailto:contato@cristallieventos.com.br">contato@cristallieventos.com.br</a>, pelo <a href="http://www.facebook.com/cristallieventos">facebook</a> ou diretamente neste formulário:</p>
     <form>
         <label for="name">Nome:</label><input name="name" type="text" size="50" class="input_text" /></br>
         
         <label for="email">Email:</label><input name="email" type="text" size="50" class="input_text" /></br>
         
         <label for="msg">&nbsp;</label><textarea name="msg" rows="5" cols="50" class="input_textarea"></textarea></br>
         
         
         <label for="submit">&nbsp; </label><input name="submit" type="submit" value="Enviar" class="button" /></br>
     </form>
</div>