<div id="home" class="content">
    <div class="slides_container" id="slides_container">
        <div>
            <img width="520" height="346" src="/images/photos/0.jpg" />
        </div>
        <div>
            <img width="520" height="346" src="/images/photos/1.jpg" />
        </div>
        <div>
            <img width="520" height="346" src="/images/photos/2.jpg" />
        </div>
    </div>
</div>

<% content_for :js_inline do  %>
    
    cristalli.events_queue.add("slide_show", function () {
        
        var images = $('#slides_container img');
        start_slide_photo(images);
    });
    
<% end %>