<div id="home" class="content">
    <div class="slides_container" id="slides_container">
        <div>
            <a href="/fotos">
                <img width="520" height="346" src="/images/photos/1.jpg"/>
                <img width="520" height="346" src="/images/photos/6.jpg" />
                <img width="520" height="346" src="/images/photos/25.jpg" />
            </a>
        </div>
    </div>
</div>

<% content_for :js_inline do  %>
    
    cristalli.events_queue.add("slide_show", function () {
        var images = $('#slides_container img');
        start_slide_photo(images);
    });
    
<% end %>