<div class="content">
    <h1><img src="images/titles/modulos.png" width="141" height="21" alt="Módulos" title="Módulos"></h1>
    <div id="modules" class="box">
        <div class="mini-box">
            <div class="module_1 module_big">
                <h2><%= image_tag("/images/leaf.png", :size => "36x22", :alt => "Conceito") %> Decoração</h2>
                <ul>
                    <li>Decoração completa</li>
                    <li>Coordenação</li>
                    <li>Organização</li>
                    <li>Mobiliário</li>
                    <li>Equipe de montagem</li>
                    <li>Itens personalizados</li>
                </ul> 
            </div>
            <div class="module_2 module_small">
                <h2><%= image_tag("/images/leaf.png", :size => "36x22", :alt => "Conceito") %>Comes e Bebes</h2>
                <ul>
                    <li>Bebidas</li>
                    <li>Buffet variado</li>
                    <li>Atendentes</li>
                </ul> 
            </div>
            <div class="module_3 module_small">
                <h2><%= image_tag("/images/leaf.png", :size => "36x22", :alt => "Conceito") %>Doces</h2>
                <ul>
                    <li>Bolos </li>
                    <li>Doces </li>
                    <li>Cupcakes </li>
                </ul> 
            </div>
            <div class="module_4 module_big">
                <h2><%= image_tag("/images/leaf.png", :size => "36x22", :alt => "Conceito") %>Outros Módulos</h2>
                <ul>
                    <li>Lembrancinhas</li>
                    <li>Foto e Filmagem</li>
                    <li>Balões</li>
                    <li>Oficinas</li>
                    <li>Teatro</li>
                    <li>Dj e Iluminação</li>
                </ul>
            </div>
        </div> <!-- close mini-bos -->
    </div> <!-- close #modules -->
</div>
