<div class="main">
    <h1><img src="images/titles/modulos.png" width="141" height="21" alt="Conceito" title="Conceito"></h1>
    <div id="modules" class="box content _rounded_corners">
        <div class="module_1">
            <h2>Decoração e Doces:</h2>
            <ul>
                <li>Decoração conforme o tema</li>
                <li>Coordenação e organização</li>
                <li>Mobiliário</li>
                <li>Equipe de montagem e limpeza</li>
            </ul> 
        </div>
        <div class="module_2">
            <h2>Comes e Bebes:</h2>
            <ul>
                <li>Bebidas (Alcoolicas e não Alcoolicas)</li>
                <li>Muitas opções de alimentação</li>
                <li>Serviço de atendimento</li>
                <li>Personalização de acordo com o tema</li>
            </ul> 
        </div>
        <div class="module_3">
            <h2>Entretenimento</h2>
            <ul>
                <li>Animadores</li>
                <li>Brinquedos infláveis</li>
                <li>Oficinas</li>
                <li>Teatro e DJ</li>
            </ul> 
        </div>
        <div class="module_4" style="display:none">
            <h2>Foto e filmagem</h2>
            <h2>Lembrancinhas</h2>
        </div>
        <div class="module_4">
            <h2>Outros Módulos</h2>
            <ul>
                <li>Foto e filmagem</li>
                <li>Lembrancinhas</li>
            </ul>
        </div>
    </div>
</div>
