<div class="main">
    <h1><img src="images/titles/modulos.png" width="141" height="21" alt="Conceito" title="Conceito"></h1>
    <div id="modules" class="box content">
        <div class="mini-box">
            <div class="module_1 module_big">
                <h2>Decoração</h2>
                <ul>
                    <li>Decoração personalizada</li>
                    <li>Coordenação e organização</li>
                    <li>Mobiliário</li>
                    <li>Equipe de montagem</li>
                </ul> 
            </div>
            <div class="module_2 module_small">
                <h2>Comes e Bebes</h2>
                <ul>
                    <li>Bebidas</li>
                    <li>Buffet variado</li>
                    <li>Equipe de atendimento</li>
                    <li>Utensílios personalizados</li>
                </ul> 
            </div>
            <div class="module_3 module_small">
                <h2>Doces</h2>
                <ul>
                    <li>Animadores</li>
                    <li>Brinquedos infláveis</li>
                    <li>Oficinas</li>
                    <li>Teatro e DJ</li>
                </ul> 
            </div>
            <div class="module_4 module_big">
                <h2>Outros Módulos</h2>
                <ul>
                    <li>Foto e filmagem</li>
                    <li>Lembrancinhas</li>
                </ul>
            </div>
        </div> <!-- close mini-bos -->
    </div> <!-- close #modules -->
</div>
