<div id="modules" class="box rounded_corners">
    <h1>Módulos</h1>
    <p>Conceito (do latim conceptus, do verbo concipere, que significa "conter completamente", "formar dentro de si") é aquilo que a mente concebe ou entende: uma ideia ou noção, representação geral e abstracta de uma realidade. Pode ser também definido como uma unidade semântica, um símbolo mental ou uma "unidade de conhecimento". </p>
    <p>Conceitos são universais ao se aplicarem igualmente a todas as coisas em sua extensão. Conceitos são portadores de significado. Um único conceito pode ser expresso em qualquer número de linguag inu em japonês etc. Conceitos são universais ao se aplicarem igualmente a todas as coisas em sua extensão. Conceitos são portadores de significado. Um único conceito pode ser expresso em qualquer número de linguag inu em japonês etc. 
    Um único conceito pode ser expresso em qualquer número de linguag inu em japonês etc.</p>
</div>
