<div id="photos" class="box rounded_corners" width="600px" height="360px" style="display:table-cell; text-align:center;  vertical-align:bottom;">
    <img src="images/galleries/3a.JPG" style="vertical-align:bottom; position:relative; margin-top:20px " height="360px" width="600px" / >
</div>
