<!DOCTYPE html>
<html>
<head>
  <title>Cristalli - Eventos Personalizados | <%= @title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" href="css/html5_boilerplate.css">
  <link rel="stylesheet" href="css/style.css">
  
</head>
<body>
    <div id="container">
        <header>
            <a href="/home">
                <img id="logo" class="logo" 
                     width="340" height="124"
                     alt="Cristalli Eventos Personalizados" 
                     title="Cristalli Eventos Personalizados"
                     src="images/logo.png" />
             </a>
        </header>
        <div id="main" class="main" role="main">
            <%= yield %>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="/conceito">
                        <img src="images/menu/conceito.png" width="135" height="89" alt="Conceito" title="Conceito">
                    </a>
                </li>
                <li>
                    <a href="/modulos">
                        <img src="images/menu/modulos.png" width="125" height="76" alt="Modulos" title="Modulos">
                    </a>
                </li>
                <li>
                    <a href="/fotos">
                        <img src="images/menu/fotos.png" width="118" height="72" alt="Fotos" title="Fotos">
                    </a>
                </li>
                <li>
                    <a href="/contato">
                        <img src="images/menu/contato.png" width="120" height="79" alt="Contato" title="Contato">
                    <a>
                </li>
            </ul>
        </nav>
        <footer>
        </footer>
    </div> <!--! end of #container -->
</body>
</html>
